<!DOCTYPE html>
<html>
  <head>
    <title>Gul</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                <%= image_tag('logotype.png', width: '220', class: 'site-brand') %>
                    <li class="nav-header">

                        <div class="dropdown profile-element">


                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Användarnamn</strong>
                             </span> <span class="text-muted text-xs block"><%= current_user.email %> <b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="profile.html">Profil</a></li>
                                <li><a href="contacts.html">Kontakter</a></li>
                                <li><a href="mailbox.html">Inkorg</a></li>
                                <li class="divider"></li>
                                <li><a href="login.html">Logga ut</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">

                        </div>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Aktiviteter</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                        <!-- TODO Generate from active activities -->
                            <li><a href="index.html">TIG164 - Interaktionsdesign</a></li>
                            <li><a href="dashboard_2.html">TIG163 - Beslutsstödsystem</a></li>
                            <li><a href="dashboard_3.html">TIG162 - Affärssystem</a></li>
                        </ul>
                    </li>
                    <li> <!-- TODO Lägg till riktiga meddelanden -->
                        <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Meddelanden </span><span class="label label-warning pull-right">16/24</span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="mailbox.html">Inkorg</a></li>
                            <li><a href="mail_detail.html">Nytt meddelande</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="metrics.html"><i class="fa fa-table"></i> <span class="nav-label">Mitt schema</span>  </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Sök i GUL..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        </nav>
        </div>
            <%= yield %>
        </div>
    </div>

  </body>
</html>
